:root{
  --viola:rgb(151,146,228);

  --lightblue:rgb(0,132,253);
  --azzurre:rgb(181,221,255);
  --grey:rgb(90,110,127);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{ 
  font-family: 'PT Sans', sans-serif;
}

header{
  height: 75px;
  background-color: var(--lightblue);
 
  position: fixed;
  width: 100%;
}

.flex{
  display: flex;
}





/* header */

.container{
  width: 100%;
  margin: 0 auto;
  background-color: lightskyblue;
  display: flex;
  padding: 0 30px;
  border:1px solid black;

}
.intestazione{
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.closed-menu i{
  color: white;
  font-size: 1.8em;
}

.open-menu{
  display: none;
  
}
 
.open-menu nav ul li{
 margin: 0 15px;
 padding: 5px 0;

}
.open-menu nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  

}
.started{
  font-size: 1.2em;
  background-color: white;
  margin-left: 15px;
  padding: 5px 15px;
  border-radius: 17px;
}

/* header */

/* sezione demo */
.demo{
  
  
}
.first.row{
  padding-top: 120px;
}
.row{
  
  flex-direction: column;
  width: 100%;
  background-color: darksalmon;
  border: 1px solid black;
}
.col, .first-col{
  background-color: chocolate;
  border: 1px solid black;
  

}
.first-col{
  height: 600px;
 
}
.demo .row .col{
  height:350px;
}
.card{
  width: 100%;
  height: 100%;
  background-color:var(--azzurre);
  border-radius: 20px;
  padding: 40px 20px 0 20px;
}
.first-col .card .immagine-phone img{
  width: 100%;
  height: 100%;
 
}
.first-col .card .immagine-phone{
  padding:40px 0 ;

}
 



h2{
  color: var(--lightblue);
  
}
.demo .row .card p{
  color: var(--grey);
  font-weight: 700;
  line-height: 25px;
  font-size: .9em;
  padding: 20px 0 40px 0;
}
.btn.app{
  text-decoration: none;
  color: white;
  background-color: var(--lightblue);
  padding: 8px 40px;
  border-radius: 20px;
  letter-spacing: 3px;
  font-weight: 700;
}

.card>i{
  color:var(--lightblue)    ;
  font-size: 4.5em;

}

.card.piccola{
  text-align: center;
  margin: 20px 0 
}

.card.piccola h2{
  padding-top: 20px 
}

/* sezione demo */

/* sezione strategic */

.strategic{
  margin-top: 100px;
  background-color: var(--viola);
  height: 100%;
}
.strategic .row .col{
  height: 720px;
  width: 100%;
  
}

.card-planning img{
  width: 100%;
  padding-top: 40px;
  
  
}
.card-planning div{
  height: 50%;
}
.card-planning h3{
  color: white;
  font-size: 1.7em;
  padding: 30px 0;
}
.card-planning p{
  color: white;
  font-size: .9em;
  line-height: 25px;
}
.card-developement{
  background-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 50px;
  text-align: center;
  padding:  40px 20px;
  width: 100%;
}
.card-developement img{
  width: 100%;
}
.card-developement h3{
  font-size: 1.7rem;
  padding-bottom: 20px;
}
.card-developement p{
  line-height: 25px;
  
}
.card-developement i{
  background-color: var(--viola);
  padding: 20px;
  border-radius: 50px;
  margin-top: 35px;
}

/* sezione strategic  */

/* sezione partners */

.partners{
flex-direction: column;
}
.row-titolo{
  flex-direction: column;
  width: 100%;
  background-color: darksalmon;
  border: 1px solid black;
  height: 300px;
}
.partners .row{
  height: 500px;
  
}
.testimonials{
  text-align: center;
  line-height: 25px;
}
.testimonials div,h3,p{
  padding: 20px 0;
}
.testimonials h3{
  color: var(--viola);
  font-size: 2.3em;
}
.col.photo{
  height: 50%;
  width: 80%;
  text-align: center;
  margin:0 auto;
}
.col.photo img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%
  
}
.col.text{
  height: 50%;
}
.descrizione{
  line-height: 30px;
  font-size: 1.2em;
  color: white;
  text-align: center;
  padding-top: 20px;
}
.nome {
 
  text-align: center;
  color:white;
  font-size: 1.2em;
  margin-top: 20px;
 
}
.card-partner {
  width: 100%;
  height: 100%;
  background-color:var(--viola);
  border-radius: 20px;
  padding: 40px 20px 0 20px;
}



/* sezione partners  */

/* sezione benefits */
.benefits{
  flex-direction: column;
  margin-top:20px
}
 .benefits .row{
  width: 100%;
 }
 .benefits .titolo{
  height: 200px;
 }
 .benefits .row .col{
  height: 500px;
 }

/* sezione benefits */

/* sezione about us  */

.about-us{
  margin-top: 20px;
}
.about-us .row .col:first-child{
  height: 1000px;
}
.about-us .row .col:last-child{
  height: 500px;
}



/* sezione about us  */


/* sezione free  */
.free{
  margin-top: 20px;
}
.free .row{
  height: 600px;
}

/* sezione free  */

/* footer  */

.foot{
  height: 240px;
}

/* footer  */

@media  screen and (min-width: 768px){
  .container{
    max-width: 1100px;
    width: 720px;
    

  }
   .demo .row{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
    width: 100%;
 
  }
  .first-col{
    width: 65%;
    height: 500px;
    margin-top: 15px;

  }
  .demo .row .col{
   width: 30%;
   height: 400px;
   margin: 15px 10px;
    
  }

  .partners .card-partner{
    height: 250px;
    padding-bottom: 40px;
  }
  .partners .row.card-partner{
    flex-direction: row;
  }

  .partners .card-partner .photo{
    width: 30%;
    height: 100%;
   
  }
  .partners .card-partner .text{
    width: 60%;
    height: 100%;
  }


  .benefits .row{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .benefits .row .col{
    width: 50%;
  }

  .about-us .row{
    flex-direction: row;
  }
  .about-us .row .col:first-child{
    width: 70%;
  }
  .about-us .row .col:last-child{
    width: 30%;
  }

  .demo .row .first-col .card .immagine-phone{
    width: 50%;  
  }
  .card.piccola{
    height: 500px;
    margin-top: 0;
  }
  .strategic  .row .col{
    height: 900px;
  
  }


  

}

@media screen and (min-width:1200px){
  .open-menu{display:flex;

  }
  .open-menu nav ul{
    display: flex;
    list-style: none;
  }
  .closed-menu{display: none;

  } 
  .strategic .row{
    flex-direction: row;  
  }
  .strategic .row .col{
    width: 50%;
  }

  .container{
    max-width: 1400px;
    width: 1200px;
  }

  .benefits .row .col{
    width: 33%;

  }
  .demo .row .first-col .card{
    display:flex ;
  }
  .demo .row .first-col{
    height: 340px;
    margin-top: 0;


  }

  .demo .row .col{
    margin-top: 0;
    height: 340px;
   
  }
  .testo-phone{
    width: 50%;
  }
 
  .first-col .card .immagine-phone{
    padding: 0 50px;
  }
  
  .card.piccola{
    height: 340px;


  }

  .strategic .row .col .card-developement{
   height: 500px;
   width: 400px;
   margin-left: 40px;
   margin-top:350px ;

  
  }
  .strategic .row .col .card-developement img{
    height: 230px;
    width: 230px;

  
 

  }
  .partners .card-partner .photo{
    width: 20%;
    height: 100%;

  }
  .partners .card-partner{
    height: 300px;
    padding-bottom: 40px;
  }
  
  .partners .card-partner .text{
    width: 80%;
    height: 100%;
  }




 
  
 
  


  }

