*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
}

header{
  height: 75px;
  background-color: blue;
  position: fixed;
  width: 100%;
}



/* header */

.container{
  width: 100%;
  
  background-color: lightskyblue;
  display: flex;
  padding: 0 30px;

}
.intestazione{
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.intestazione > div{
  background-color: blueviolet;

}
.open-menu{
  display: none;
}
 
.open-menu div{
 margin: 0 15px;

}

/* header */

/* sezione demo */
.demo{
  height: 1500px;
  
}

.row{
  padding-top: 120px;
  flex-direction: column;
  width: 100%;
}
.col, .first-col{
  background-color: chocolate;
  border: 1px solid black;
  

}
.first-col{
  height: 600px;
 
}
.demo .row .col{
  height:350px;
}

/* sezione demo */

/* sezione strategic */

.strategic .row .col{
  height: 600px;
}


@media  screen and (min-width: 375px){
  .container{
    max-width: 1100;
    

  }
   .row{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
    width: 100%;
 
  }
  .first-col{
    width: 70%;
    height: 600px;
  }
  .demo .row .col{
   width: 30%;
   height: 600px;
    
  }

}

@media screen and (min-width:810px){
  .open-menu{display:flex;
  }
  .closed-menu{display: none;

  }
 
  


  }

